<header class="navbar navbar-default navbar-top">
  <div class="container-fluid">
  
    <div class="navbar-header">
      <%= link_to "Top Reddit Wallpapers", :root, class: 'navbar-brand' %>
    </div>

    <ul class="nav navbar-nav">
      <% p = params[:page].to_i %>

      <% if p > 1 %>
        <%= wrap_in_li(link_to('Previous Page', root_path(page: p-1))) if @previous_page_valid %> 
        <%= wrap_in_li(link_to('Next Page', root_path(page: p+1))) if @next_page_valid %> 
      <% else %> 
        <%= wrap_in_li(link_to('Next Page', root_path(page: 2))) if @next_page_valid %>
      <% end %> 

      <%= render 'refresh_info' %> 
    </ul>

  </div>
</header>


<% if @posts.present? %> 

  <div id="posts-container" class='container'>
    <% @posts.each_slice(4) do |posts| %>
      <div class="post-row text-center row">

      <% posts.each do |p| %>
          <div class="post col-sm-3">
            <div class="post-background">
              <a href='<%= p.url %>'>
                <%= image_tag(p.thumb_img.url, width: 170, height: 85) %>
              </a>
              <a href="https://www.reddit.com<%= p.permalink %>">
                <div>/r/<%= p.subreddit %></div>
              </a>
              <div>+<%= p.score %></div>
            </div>
          </div>
      <% end %> 
      
      </div>
    <% end %> 
  </div>
<% elsif ImagePost.count == 0 %> 
  <div class='jumbotron'>
    <h2 class='text-center'>No posts exist in the database</h2>
    <h4 class='text-center'>
      <%= link_to('Click here ', refresh_path, method: :put) +
           'and they will be compiled' unless flash[:refreshing_msg] %>
    </h4>
  </div>
<% end %> 
