<% if @posts.present? %> 

  <div id="posts-container" class='container'>
    <% @posts.each_slice(4) do |posts| %>
      <div class="post-row text-center row">

      <% posts.each do |p| %>
          <div class="post col-sm-3">
            <a href='<%= p.url %>'>
              <%= image_tag(p.thumbnail, width: 180, height: 90) %>
            </a>
            <a href="https://www.reddit.com/<%= p.permalink %>">
              <div>/r/<%= p.subreddit %></div>
            </a>
            <div>+<%= p.score %></div>
          </div>
      <% end %> 
      
      </div>
    <% end %> 
  </div>

<% else %> 
  <div class='jumbotron'>
    <h2 class='text-center'>No posts exist in the database</h2>
  </div>
<% end %> 
